@inject HttpClient _client

<EditForm Model="@Car" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <fieldset disabled="@Disabled">

        <div class="form-group">
            <label>Model: </label>
            <div>
                <InputSelect @bind-Value="Car.ModelId" class="form-control">
                    <option value="">-- Select Model --</option>
                    @if (Models != null)
                    {
                        foreach (var model in Models)
                        {
                            <option value="@model.Id">@model.Name</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => Car.ModelId)" />
            </div>
        </div>

        <div class="form-group">
            <label>Outlets: </label>
            <div>
                <InputSelect @bind-Value="Car.OutletId" class="form-control">
                    <option value="">-- Select Outlet --</option>
                    @if (Outlets != null)
                    {
                        foreach (var outlet in Outlets)
                        {
                            <option value="@outlet.Id">@outlet.Name</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => Car.OutletId)" />
            </div>
        </div>

        <div class="form-group">
            <label>Year: </label>
            <div>
                <InputNumber @bind-Value="@Car.Year" class="form-control" />
                <ValidationMessage For="@(() => Car.Year)" />
            </div>
        </div>

        <div class="form-group">
            <label>License Plate Number: </label>
            <div>
                <InputText @bind-Value="@Car.CarPlate" class="form-control" />
                <ValidationMessage For="@(() => Car.CarPlate)" />
            </div>
        </div>

        <div class="form-group">
            <label>Daily Rate: </label>
            <div>
                <InputNumber @bind-Value="@Car.CarRentPerDay" class="form-control" />
                <ValidationMessage For="@(() => Car.CarRentPerDay)" />
            </div>
        </div>

        <div class="form-group">
            <label>Car Colour: </label>
            <div>
                <InputText @bind-Value="@Car.Colour" class="form-control" />
                <ValidationMessage For="@(() => Car.Colour)" />
            </div>
        </div>

        <div class="form-group">
            <label>Availability: </label>
            <InputCheckbox @bind-Value="@Car.Availability" class="form-check-input" />
            <ValidationMessage For="@(() => Car.Availability)" />
        </div>

        <br />
        <br />
    </fieldset>

    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }
    <BackToList Target="cars" />

</EditForm>


@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Car Car { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private IList<Outlet>? Outlets;
    private IList<Model>? Models;

    protected async override Task OnInitializedAsync()
    {
        Outlets = await _client.GetFromJsonAsync<List<Outlet>>($"{Endpoints.OutletsEndpoint}");
        Models = await _client.GetFromJsonAsync<List<Model>>($"{Endpoints.ModelsEndpoint}");
    }
}