@page "/cars/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3 class="card-title">Car Cars</h3>
<br />

<a href="/cars/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Cars
</a>
<br />
<br />


@if (Cars == null)
{
    <div class="alert alert-info">Loading Car...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Outlet</th>
                <th>Model</th>
                <th>Year</th>
                <th>License Plate Number</th>
                <th>Rent Per Day</th>
                <th>Rent Per Hour</th>
                <th>Color</th>
                <th>Availability</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Cars)
            {
                <tr>
                    <td>@(car.Outlet?.Name ?? "N/A")</td> <!-- Handle null outlet -->
                    <td>@(car.Model?.Name ?? "N/A")</td> <!-- Handle null outlet -->
                    <td>@car.Year</td>
                    <td>@car.CarPlate</td>
                    <td>@car.CarRentPerDay</td>
                    <td>@car.CarRentPerHour</td>
                    <td>@car.Colour</td>
                    <td>@car.Availability</td>
                    <td>
                        <a href="/cars/view/@car.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/cars/edit/@car.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(car.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Car>? Cars;

    protected async override Task OnInitializedAsync()
    {
        try
        {
            Cars = await _client.GetFromJsonAsync<List<Car>>($"{Endpoints.CarsEndpoint}");
            StateHasChanged(); // Refresh the UI after data is loaded
        }
        catch (Exception ex)
        {
            // Log or handle the exception
            // For example, you can set an error message to be displayed
        }
    }

    async Task Delete(int carId)
    {
        if (Cars != null)
        {
            var car = Cars.First(q => q.Id == carId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {car.CarPlate}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.CarsEndpoint}/{carId}");
                await OnInitializedAsync();
            }
        }
    }

}